<a href="https://colab.research.google.com/github/migvanderlei/rna-2-2/blob/main/PP2_2_1_Conhecendo_o_Conjunto_de_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Redes Neurais Artificiais 2021.1

- **Disciplina**: Redes Neurais Artificiais 2021.1  
- **Professora**: Elloá B. Guedes (ebgcosta@uea.edu.br)  
- **Github**: http://github.com/elloa  

### Explorando uma base de dados

Nesta atividade prática iremos explorar a seguinte base de dados **_Forest Cover Type_**

1. Obtenha esta base de dados no seguinte link: https://www.kaggle.com/uciml/forest-cover-type-dataset/download
2. Consulte a documentação oficial da base de dados: https://archive.ics.uci.edu/ml/datasets/covertype
3. **Responda**:  

    3.1 O que é cada exemplo na base de dados?  
    3.2 Em que ano ela foi obtida?  
    3.3 Quem foram os responsáveis pela criação desta base de dados?

In [ ]:
import pandas as pd

### Manipulando a base de dados

1. Abra a base de dados com o pandas
2. Imprima os 10 primeiros exemplos pertencentes à esta base
3. Imprima os 10 últimos exemplos pertencentes à esta base
4. Quantos exemplos esta base de dados possui?
5. Quais são os atributos que a base de dados possui e quais seus tipos?
6. Há algum dado faltante na base?
7. De acordo com a documentação da base de dados, qual o significado dos atributos do tipo "Soil Type"?  
  7.1 Este atributo é quantitativo ou qualitativo?  
  7.2 Qual o tipo de codificação utilizada para denotar este atributo? Consulte a seguinte referência:  
  * https://pbpython.com/categorical-encoding.html

In [ ]:
dataset = pd.read_csv("covtype.csv")
dataset.head(10)

   Elevation  Aspect  Slope  ...  Soil_Type39  Soil_Type40  Cover_Type
0       2596      51      3  ...          0.0          0.0         5.0
1       2590      56      2  ...          0.0          0.0         5.0
2       2804     139      9  ...          0.0          0.0         2.0
3       2785     155     18  ...          0.0          0.0         2.0
4       2595      45      2  ...          0.0          0.0         5.0
5       2579     132      6  ...          0.0          0.0         2.0
6       2606      45      7  ...          0.0          0.0         5.0
7       2605      49      4  ...          0.0          0.0         5.0
8       2617      45      9  ...          0.0          0.0         5.0
9       2612      59     10  ...          0.0          0.0         5.0

[10 rows x 55 columns]

In [ ]:
dataset.tail(10)

        Elevation  Aspect  Slope  ...  Soil_Type39  Soil_Type40  Cover_Type
178328       3200     114      8  ...          0.0          0.0         2.0
178329       3196     108      7  ...          0.0          0.0         2.0
178330       3193     105      5  ...          0.0          0.0         2.0
178331       3191     108      3  ...          0.0          0.0         2.0
178332       3190     108      2  ...          0.0          0.0         2.0
178333       3178     285      3  ...          0.0          0.0         1.0
178334       3180     270      3  ...          0.0          0.0         1.0
178335       3181     256      2  ...          0.0          0.0         1.0
178336       3182     262      2  ...          0.0          0.0         2.0
178337       3183     270      2  ...          NaN          NaN         NaN

[10 rows x 55 columns]

In [ ]:
print(f"A base possui {len(dataset)} exemplos")

A base possui 178338 exemplos

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178338 entries, 0 to 178337
Data columns (total 55 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   Elevation                           178338 non-null  int64
 1   Aspect                              178338 non-null  int64
 2   Slope                               178338 non-null  int64
 3   Horizontal_Distance_To_Hydrology    178338 non-null  int64
 4   Vertical_Distance_To_Hydrology      178338 non-null  int64
 5   Horizontal_Distance_To_Roadways     178338 non-null  int64
 6   Hillshade_9am                       178338 non-null  int64
 7   Hillshade_Noon                      178338 non-null  int64
 8   Hillshade_3pm                       178338 non-null  int64
 9   Horizontal_Distance_To_Fire_Points  178338 non-null  int64
 10  Wilderness_Area1                    178338 non-null  int64
 11  Wilderness_Area2                    178338 non-null  int64
 12  Wilderness_Area3                    178338 non-null  int64
 13  Wilderness_Area4                    178338 non-null  int64
 14  Soil_Type1                          178338 non-null  int64
 15  Soil_Type2                          178338 non-null  int64
 16  Soil_Type3                          178338 non-null  int64
 17  Soil_Type4                          178338 non-null  int64
 18  Soil_Type5                          178338 non-null  int64
 19  Soil_Type6                          178338 non-null  int64
 20  Soil_Type7                          178338 non-null  int64
 21  Soil_Type8                          178338 non-null  int64
 22  Soil_Type9                          178338 non-null  int64
 23  Soil_Type10                         178338 non-null  int64
 24  Soil_Type11                         178338 non-null  int64
 25  Soil_Type12                         178338 non-null  int64
 26  Soil_Type13                         178337 non-null  float64
 27  Soil_Type14                         178337 non-null  float64
 28  Soil_Type15                         178337 non-null  float64
 29  Soil_Type16                         178337 non-null  float64
 30  Soil_Type17                         178337 non-null  float64
 31  Soil_Type18                         178337 non-null  float64
 32  Soil_Type19                         178337 non-null  float64
 33  Soil_Type20                         178337 non-null  float64
 34  Soil_Type21                         178337 non-null  float64
 35  Soil_Type22                         178337 non-null  float64
 36  Soil_Type23                         178337 non-null  float64
 37  Soil_Type24                         178337 non-null  float64
 38  Soil_Type25                         178337 non-null  float64
 39  Soil_Type26                         178337 non-null  float64
 40  Soil_Type27                         178337 non-null  float64
 41  Soil_Type28                         178337 non-null  float64
 42  Soil_Type29                         178337 non-null  float64
 43  Soil_Type30                         178337 non-null  float64
 44  Soil_Type31                         178337 non-null  float64
 45  Soil_Type32                         178337 non-null  float64
 46  Soil_Type33                         178337 non-null  float64
 47  Soil_Type34                         178337 non-null  float64
 48  Soil_Type35                         178337 non-null  float64
 49  Soil_Type36                         178337 non-null  float64
 50  Soil_Type37                         178337 non-null  float64
 51  Soil_Type38                         178337 non-null  float64
 52  Soil_Type39                         178337 non-null  float64
 53  Soil_Type40                         178337 non-null  float64
 54  Cover_Type                          178337 non-null  float64
dtypes: float64(29), int64(26)
memory usage: 74.8 MB

Há apenas uma linha com diversos valores de `Soil_Type*` faltantes, assim como o atributo alvo `Cover_Type`.

In [ ]:
dataset[pd.isna(dataset.Cover_Type)]

        Elevation  Aspect  Slope  ...  Soil_Type39  Soil_Type40  Cover_Type
178337       3183     270      2  ...          NaN          NaN         NaN

[1 rows x 55 columns]

In [ ]:
dataset.dropna(inplace=True)

Os atributos do tipo `Soil_Type` representam uma variável qualitativa, atribuindo a cada amostra um dentre os 40 tipos de solo considerados no artigo que originalmente descreve o dataset.

Os atributos `Soil_Type` foram representados em **One Hot Encoding**, o que gerou uma série de atributos deste tipo, numerados de 1 a 40.

### Visualizando a base de dados

1. Baseando-se nos fundamentos de visualização de dados abordados na disciplina, plote cada um dos atributos preditores de maneira a enfatizar a sua distribuição, tendência central e dispersão  
1.1 Considere que o número de columas no dataset é diferente do número de atributos, conforme discussão promovida a respeito do dataset  
1.2 Se preferir, opte por complementar as informações visuais com medidas estatísticas  
2. A partir da visualização elaborada, o que pode-se dizer a respeito do balanceamento do atributo-alvo?
3. Que tipo de tarefa de Aprendizado de Máquina é sugestiva para este problema?  
3.1 Apresente métricas de desempenho compatíveis para a avaliação do problema (liste-as)  
3.2 Escolha uma das métricas apresentadas para ser utilizada como referência pela equipe